<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>FestivalHub</title>
    <link rel="stylesheet" type="text/css" href="/jass.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
  
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="animated-text">FestivalHub</div>
     <img src = '/images/FestivalHub.png' alt="FestivalHub">
    </header>

    <!-- Navbar -->
    <body>
      <title>{{FestivalHub}}</title>
      <nav class="navbar">
       <!--here goes the data/api for other music festivals-->
       <a href="https://www.tomorrowland.com/home/">Tomorrowland</a>
       <a href="https://lasvegas.electricdaisycarnival.com"> EDC</a>
       <a href="https://www.coachella.com"> Coachella</a>
      </nav>
    </nav>
    <!-- Body -->
    <main>
  {{{body}}}
    </main>

    <!-- Footer -->
    <footer>
      <h5>
     Coded by: J.Campos, B.Aguilar, I.Virrey, R.Gurley, K.Phan
      </h5>
    </footer>
  </body>
</html>

